* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
nav {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgb(52, 52, 85);
}
nav > a {
  text-decoration: none;
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bg-img {
  background-image: url("../documentation/behind.jpg");
}

aside {
  width: 100px;
  background-color: rgb(41, 41, 129);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0 15px;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
article {
  flex: 1;
}
footer {
  background-color: rgb(87, 87, 128);
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-link {
  margin-right: 0.1rem;
}
